body, html {
    height: 100%;
}
.bg { 
    /* The image used */
    background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(11).jpg");

    /* Half height */
    height: 50%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.center {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;  
}

.left
{
  margin-left: 45%;
}

.centerRequest {
    margin: 0 auto;
    width: 80%;
}

h3
{
    color: steelblue;
    font-style: bold;
}

p {
    color: red;
    font-style: italic;
}

